
html,body{
  margin:0;
  padding:0;
  font-size:14px;
}
ul,li{
  margin:0;
  padding:0;
  list-style-type: none;

}
$height-main-header:61px;
$bottom-border-color:#e7e7e7;

header.main-header{
  height:$height-main-header;
  border-bottom: 1px solid $bottom-border-color;

  ul.header-menu-list{
    li{
      float:left;
      line-height:$height-main-header;
    }

  }
  ul.left{
    float:left;
    height:100%;
  }
  ul.right{
    height:100%;
    float:right;

  }
}
