
$color-menu:#585858;
$color-menu-hover:#58b5d3;

html,body{
  margin:0;
  padding:0;
  font-size:14px;
}
ul,li{
  margin:0;
  padding:0;
  list-style-type: none;

}
a{
  color:$color-menu;
  text-decoration: none;
  &:hover{
    color:$color-menu-hover;
  }
}

$height-main-header:61px;
$bottom-border-color:#e7e7e7;


header.main-header{
  height:$height-main-header;
  border-bottom: 1px solid $bottom-border-color;


  ul.header-menu-list{
    li{
      float:left;
      line-height:$height-main-header;
      img{
        vertical-align: middle;
        margin-left: 20px;
      }
      a{
        padding: 0 15px;
      }
    }
  }
  ul.left{
    float:left;
    height:100%;
  }
  .right{
    height:100%;
    float:right;
  }
  .header-menu-list{
    float:left;
    &.room-list{
      font-size: 14px;
    }
    &.auth-list{
      font-size:12px;
      margin-left:40px;
    }
  }
}
// 채인선택자는 요소(div)가 클래스를 A ,B 를 받고 있을때 하나의 그 요소만 특정하고 클래스 A 나 B 만 받는경우는 특정안하기위함이다.
// 여기서는 스스로를 지칭하는 &연산자를 사용해서 header-menu-list 안에서 같은 단게에서 같은 요소를 가리키는
// room-list 에대해서 서술하고 싶어서 이렇게 쓴것이다. 라이트
